@charset "utf-8";
#nav ul {
	Width: 1000px;
	height: 40px;
	margin: 30px auto;
	padding: 0;
	list-style: none;
	border-top: solid 5px #DAA520;
	border-bottom: solid 5px #DAA520;
	background-color: azure;
}

#nav ul li {
	width: 200px;
	float: left;
	text-align: center;
	font: 16px/2.5 "microsoft yahei";
}

#nav ul li a {
	color: #800080;
	text-decoration: none;
}

#nav ul li a:hover {
	display: block;
	color: blue;
}